:root {
    --text-primary: #bd6b0d;
    --text-light: #525252;
    --text-medium-gray: #666;
    --extra-light: #a3a3a3;
    --accent-color: #bd6b0d;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Merriweather", serif;
    --body-font: "Montserrat", sans-serif;
    --roundhand-font: "Roundhand", cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
}

@font-face {
    font-family: 'Roundhand Regular';
    src: url('../../fonts/Roundhand Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roundhand Bold';
    src: url('../../fonts/Roundhand Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roundhand';
    src: url('../../fonts/roundhandbdbtbold.ttf') format('truetype');
}