.footer__container {
    display: grid;
    gap: 4rem 0;
    align-items: center;
}

.footer__col {
    padding-inline: 2rem;
}

.footer__container img {
    max-width: 170px;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer__socials a {
    font-size: 1.5rem;
    color: var(--text-dark);
}

.footer__socials a:hover {
    color: var(--text-light);
}

.footer__links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.footer__links a {
    display: block;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
    white-space: nowrap;
}

.footer__links a:hover {
    color: var(--text-light);
}

.footer__col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

.footer__col p {
    color: var(--text-light);
    line-height: 1.75rem;
    text-align: center;
}

.footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--extra-light);
    background-color: var(--text-dark);
    text-align: center;
}

.footer__contact {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer__contact li {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.footer__contact i {
    margin-right: 10px;
    font-size: 1.2rem;
    color: var(--text-dark);
}

.footer__contact a {
    color: var(--text-dark);
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 500;
    text-align: center;
}

.footer__contact a:hover {
    color: var(--text-light);
}

.footer__contact a.no-hover {
    pointer-events: none;
    cursor: default;
}

@media (width > 540px) {
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__col:nth-child(1) {
        grid-area: 1/1/2/3;
    }

    .footer__col:nth-child(3) {
        border-left: 2px solid var(--text-dark);
    }

    .footer__contact {
        align-items: flex-start;
    }

    .footer__contact li {
        justify-content: flex-start;
    }
}

@media (width > 768px) {
    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__col:nth-child(1) {
        grid-area: 1/2/2/3;
        border-left: 2px solid var(--text-dark);
        border-right: 2px solid var(--text-dark);
    }

    .footer__col:nth-child(3) {
        border: none;
    }

    .footer__contact {
        align-items: center;
    }

    .footer__contact li {
        justify-content: center;
    }
}