.instagram__container {
    overflow: hidden;
}

.instagram__flex {
    margin-top: 2rem;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;

    animation: scroll 45s linear infinite;
}

.instagram__flex img {
    max-width: 135px;
}