.portfolio__grid {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
}

.portfolio__card {
    position: relative;
    isolation: isolate;
}

.portfolio__card::after {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-family: var(--header-font);
    color: var(--white);
}

.portfolio__card:nth-child(1)::after {
    content: "Przestrzeń";
}

.portfolio__card:nth-child(2)::after {
    content: "Aranżacje";
}

.portfolio__card:nth-child(3)::after {
    content: "Wyposażenie";
}

.portfolio__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
}

.portfolio__card:hover .portfolio__content {
    opacity: 1;
}

@media (width > 540px) {
    .portfolio__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 768px) {
    .portfolio__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width > 1024px) {
    .portfolio__grid {
        gap: 2rem;
    }
}